body {
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}

.region.fullscreen.above .container,
.region.fullscreen.above .container .module,
.region.fullscreen.above .container .module .module-content,
.region.fullscreen.above .container .module .module-content div,
.module-content #windy {
  height: 100%;
}

.region.fullscreen.above .container .module {
  margin-bottom: 0;
}

.region.fullscreen.above {
  z-index: -1;
}

/*
#windy #bottom {
 display: none;
 margin-right:10px
}

#windy #embed-zoom .zoom-ctrl {
 display: none;
}*/

.metric-legend span {
    display: inline-block!important;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}